body{
	background-color:#41f731;
}

img{
	width: 40%;
	position: top-right;
}

h1, p{font-family: 'pacifico', cursive;

}















































